*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root{
  font-family: 'Source Serif 4';
  font-size: 6.25%;
}

body{
  color: #A54328;
}

main{
  max-width: 320rem;
  margin-inline: auto;
  padding: 53rem 40rem;

  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  gap: 32rem;
}

h1, h2{
  font-size: 28rem;
  font-weight: 700;
}

h2{
  margin-bottom: 32rem;
}

img{
  width: 100%;
  margin-block: 32rem;
}

p,li,strong{
  font-size: 14rem;
}

ul,ol{
  padding-left: 24rem;
}

ul{
  margin-bottom: 24rem;
}

button{
  font-weight: 500;
  color: #fff;

  padding: 11rem;
  border-radius: 5px;
  background-color: #A54328;
  border: none;

  margin-top: 24rem;
  
}

button:hover{
  background-color: #7e4130;
  cursor: pointer;
}

@media (min-width:980px){

  /* body{
    opacity: 0.6;
    background: url(assets\bg.png), lightgray 50% / cover no-repeat;
  }; */

main{
  margin-top: 90rem;
  padding: 0rem 60rem;
  flex-direction: row;
  max-width: 
  fit-content; 
  /* 100%; */

  gap: 160rem;
}

.recipe {
  max-width: 435rem;
}

.ingredients {
  max-width: 525rem;
}


/* main>div{
  flex: 1;
  max-width: 500rem;
} */


h1,h2 {
  font-size: clamp(10rem,2vw + 15rem,46rem);
  /* 40rem; */
  line-height: 50rem;
}

p,li,strong {
  font-size: 20rem;
  line-height: 25rem;
}

button {
  padding: 10rem 20rem;
  font-size: 14rem;
  line-height: 24rem;
}

}